@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Lato', sans-serif;
	margin: 0;
}

main {
	margin: 3rem 0 0;
	height: 95vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}

.button {
	padding: 12px 24px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	background-color: #510585;
	color: white;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
	margin: 0 8px;
}

.button:hover {
	background-color: #083e80;
}

.stroked_button {
	margin: 0;
	background-color: white;
	color: #510585;
	border: 1px solid #510585;
}

.stroked_button:hover {
	background-color: #083e80;
	color: white;
}

.button:disabled {
	background: #ccc;
	color: #888888;
	cursor: not-allowed;
	border: #ccc;
	box-shadow: none;
}

.button:disabled:hover,
.button:disabled:active {
	background: #ccc;
	color: #888888;
	border: #ccc;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.form_actions {
	display: block;
	text-align: center;
	margin-top: 30px;
}

.error_message {
	text-align: center;
	color: red;
	margin-top: -13px;
	display: block;
}

.uploaded_image {
	width: 150px;
	height: 150px;
	object-fit: contain;
	display: block;
	margin: auto;
}

.auth {
	margin: 3rem auto;
	width: 95%;
	max-width: 50rem;
	height: 60vh;
	border-radius: 6px;
	background-color: #0e1228;
	box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
	padding: 1rem;
	text-align: center;
	padding-top: 10vh;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.auth h1 {
	text-align: center;
	color: white;
	margin-bottom: 0;
}

.auth label {
	display: block;
	color: white;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.auth .link {
	color: #ddde0a;
	text-decoration: none;
	font-weight: 600;
}

.auth .link:hover {
	text-decoration: underline;
}

.auth p {
	color: #fff;
}

.auth hr {
	margin: 10px 0 30px;
}
