@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', 'Lato', sans-serif;
	margin: 0;
}

main {
	margin: 6rem 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lato', sans-serif;
}

.button {
	padding: 12px 24px;
	font-weight: bold;
	border: none;
	border-radius: 10px;
	background-color: #510585;
	color: white;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.button:hover {
	background-color: #083e80;
}

.stroked_button {
	margin-left: 8px;
	background-color: white;
	color: #510585;
	border: 1px solid #510585;
}

.stroked_button:hover {
	background-color: #083e80;
	color: white;
}
